body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

#output,
#ans {
    font-size: 2em;
    text-align: center;
}

#generateButton {
    font-size: 1.5em;
    margin-top: 20px;
}
